@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';
@import "./themes/prism-duotone-light.css" screen;
@import "./themes/prism-holi-theme.css" screen and (prefers-color-scheme: dark);

.code {
  @apply w-full
}

pre[class*="language-"] {
  @apply overflow-hidden;
}

.line-highlight::before, .line-highlight[data-end]::after {
  box-shadow: none;
}

.small {
  @apply text-sm
}

@media (max-width: 760px) {
  .small {
    @apply w-full
  }
}

@media (prefers-color-scheme: light) {
  .line-highlight.line-highlight {
    background: rgba(45,32,6,.2);
    background: linear-gradient(90deg,rgba(45, 32, 6, 0.05) 70%,rgba(45,32,6,0));
  }
}